#Page_1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 830px;
  background-position: bottom;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;

}

#Grass {
  width: 100%;
  height: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Grass img {
  display: inline-flex;
  width: 100%;
  height: 1000px;
  overflow-y: hidden;
  margin-top: -1330px;
}

#Grass button {
  position: absolute;
  margin-top: -500px;
  z-index: 10;
  left: 0.5;
  width: 65px;
  height: 65px;
  border-radius: 45px;
  font-size: 40px;
  display: flex;
  border-width: 0;
  justify-content: center;
  background-image: url("../../assets/Vector.png");
  background-repeat: no-repeat;
  background-position: 23px;
  cursor: pointer;
}

#Dude {
  position: absolute;
  width: auto;
  z-index: 2;
  left: 55%;
  height: auto;
  margin-top: -280px;
}

#First_info {
  position: absolute;
  width: 700px;
  height: 300px;
  margin-left: -500px;
  margin-bottom: 200px;
}

#First_info h1 {
  font-weight: 900;
  font-size: 40px;
  color: rgba(37, 37, 37, 1);
  margin: 0;
}

#First_info p {
  color: rgba(37, 37, 37, 0.5);
  font-weight: 400;
  font-size: 16px;
}

#btn_box {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

#btn_Sports {
  width: 160px;
  height: 50px;
  background: rgba(245, 206, 18, 1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(37, 37, 37, 1);
  border-width: 0;
  cursor: pointer;
}

#btn_Betting_Sites {
  width: 160px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(37, 37, 37, 1);
  border-width: 0;
  cursor: pointer;
}

#Grass button:active,
#btn_Betting_Sites:active,
#btn_Sports:active {
  opacity: 0.8;
}
