:root {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

header {
  height: 10vh;
  margin: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

#Header_icon {
  display: flex;
  width: 10vw;
  min-width: 100px;
  max-width: 120px;
  margin: 0 3vw 0 5vw;
  justify-content: center;
  align-items: center;
}

#Header_icon img {
  width: 100%;
  margin: 0;
}

#Header_list_container {
  height: 100%;
  margin: 0;
  display: flex;
  position: relative;
}

#Header_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 450px;
  gap: 4vw;
}

.Header_list_element {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  width: 100%;
  font-size: 0.8em;
  white-space: nowrap;
  cursor: pointer;
  color: rgba(37, 37, 37, 1);
  font-size: 16px;
}

.Header_list_element p {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 10px;
}
#Menu_icon_Box {
  position: fixed;
  display: none;
  z-index: 1001;
  align-items: center;
  left: 4vw;
  height: 10vh;
  justify-content: center;
}
@media (max-width: 750px) {
  #Header_list_container {
    display: none;
  }
  header {
    width: 100%;
    justify-content: center;
  }
  #Menu_icon_Box {
    display: inline-flex;
  }
}

#Search_icon_Box {
  position: fixed;
  display: inline-flex;
  align-items: center;
  right: 4vw;
  z-index: 1001;
  height: 10vh;
  justify-content: center;
}



#Menu_icon_Box img {
  height: 30%;
  width: auto;
}

.menu {
  position: absolute;
  display: flex;
  height: 20vh;
  width: 40vw;
  margin-left: 10vw;
}

.menu li {
  width: 10vw;
  height: 100%;
  background-color: red;
  cursor: pointer;
  visibility: hidden;
}
