:root {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}

header {
  height: 10vh;
  margin: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

#Header_icon {
  display: flex;
  width: 10vw;
  min-width: 100px;
  max-width: 120px;
  margin: 0 3vw 0 5vw;
  justify-content: center;
  align-items: center;
}

#Header_icon img {
  width: 100%;
  margin: 0;
}

#Header_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 3vw;
}

.Header_list_element {
  position: relative;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1em;
  color: rgba(37, 37, 37, 1);
}

.Header_list_element img {
  height: 35%;
  width: auto;
  margin-bottom: 1px;
  margin-left: 5px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  width: 150px;
  text-align: center;
}

.dropdown:hover {
  cursor: pointer;
}

#Search_icon_Box {
  position: fixed;
  display: inline-flex;
  align-items: center;
  top: 4vh;
  right: 1.8vw;
  z-index: 1001;
  justify-content: center;
}
#Search_icon_Box img {
  width: 50%;
}

#Menu_icon_Box {
  position: fixed;
  display: none;
  z-index: 1001;
  align-items: center;
  left: 4vw;
  height: 11vh;
  justify-content: center;
}
#Menu_icon_Box img {
  scale: 1.5;
}
@media (max-width: 750px) {
  #Header_list {
    display: none;
  }
  header {
    width: 100%;
    justify-content: center;
  }
  #Menu_icon_Box {
    display: inline-flex;
  }
}
